<div style="text-align:center">
	<h1>
		{{ heading }}!
	</h1>

	<div appFrappe [title]="'Bar Chart'" [data]="dataSet" [type]="'bar'"></div>
	<br>
	<div appFrappe [title]="'Line Chart'" [data]="dataSet" [type]="'line'"></div>
	<br>
	<div appFrappe [title]="'Scatter Chart'" [data]="dataSet" [type]="'scatter'"></div>
	<br>
	<div appFrappe [title]="'Pie Chart'" [data]="dataSet" [type]="'pie'"></div>
	<br>
	<div appFrappe [title]="'Percentage Chart'" [data]="dataSet" [type]="'percentage'"></div>
</div>